body{
    background: rgb(140, 161, 155);
}
.contact{
margin:10% ;    
min-height: 72vh;
width: 75%;
border:solid 2px black ;
overflow: hidden;
position: fixed;

}

.title{
    margin:auto 40%;
    color: rgb(46, 18, 27);
}